@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.open {
    margin: 1rem 0;
    background-color: rgb(100, 205, 249, 0.8);
    width: 90%;
    border-radius: 1rem;
    @include column;
    color: aliceblue;
    max-width: 40rem;
    @include desktop {
        margin: 0;
    }
    &-eq {
        @include column;
        width: 94%;
        padding: 1rem 0 0rem;
    }
    &-top {
        @include row;
        width: 100%;
        justify-content: space-between;
        margin: 0;

        &-left {
            width: 50%;
            &__frame {
                @include column;
                background-color: $periwinkle-lite;
                border-radius: 1rem;
                padding: .86rem 1rem .5rem;
                &-emoji {
                    width: 2rem;
                }
                &-emotion {
                    margin: .2rem 0;
                    @include mobile {
                        font-size: 1rem;
                    }
                }
            }
            &__title {
                letter-spacing: 0.08rem;
                background-color: rgb(70, 178, 178, 0.6);
                border-radius: 1rem;
                margin: 1rem 0 1rem;
                padding: 0.2rem;
                font-weight: 500;
                width: 100%;
            }
        }
        &-right {
            @include column;
            width: 45%;
            align-items: flex-end;
            justify-content: space-between;

            &__stamp {
                background-color: rgb(70, 178, 178, 0.6);
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                @include column;
                width: 100%;
                justify-content: center;
                @include mobile {
                    padding: .2rem 0;
                }
            }
            &__date {
                font-weight: 200;
                margin: 0;
                @include mobile {
                    font-size: .8rem;
                }
            }
            &__time {
                font-weight: 200;
                padding: 0;
                margin: 0;
                @include mobile {
                    font-size: .8rem;
                }
            }
            &__state {
                width: 100%;
                border-radius: 1rem;
                background-color: $periwinkle-lite;
                padding: .4rem 1rem;
                margin: .5rem 0 0;
                letter-spacing: .08rem;
                font-weight: 500;
                font-size: 1.2rem;
                @include mobile {
                    font-size: .88rem;
                    padding: .2rem 1rem;
                }
            }
        }
    }
    &-bottom {
        width: 100%;
        @include row;
        justify-content: space-between;
        margin: 0;
        &-left {
            margin: 0;
            width: 50%;
            &__obs {
                margin: 0;
                width: 100%;
                background-color: $periwinkle-lite;
                border-radius: 1rem;
                @include column;
                padding: .6rem 1rem;
                &-level {
                    margin: 0;
                    padding: .2rem 0;
                }
                &-irr {
                    font-weight: 700;
                }
                &-anx {
                    @extend .open-bottom-left__obs-irr;
                }
            }
        }
        &-right {
            margin: 0;
            @include row;
            background-color: $periwinkle-lite;
            border-radius: 1rem;
            padding: 0 1rem;
            width: 45%;
            justify-content: center;
            @include mobile {
                padding: .4rem;
            }
            &__hours {
                padding-right: 1rem;
                @include mobile {
                    padding-right: .26rem;
                }
            }
            &__quality {
                width: 3.4rem;
            }
        }
    }
    &__notes {
        background-color: rgb(70, 178, 178, 0.6);
        border-radius: 1rem;
        width: 100%;
        padding: .4rem;
        font-size: .8rem;
        
        &-head {
            font-size: .8rem;
            margin: 0 0 .2rem .5rem;
            @include row;
        }
        &-pophead {
            justify-content: flex-start;
            margin: 0;
        }
        &-comment {
            @include row;
            justify-content: space-between;
            width: 100%;
            overflow: scroll;
            font-size: .8rem;
            @include mobile {
                padding-bottom: .6rem;
            }
            &--button {
                border: 0;
                background-color: rgb(180, 28, 28);
                border-radius: 3rem;
            }
        }
        &-frame {
            border: .1rem solid rgb(157, 212, 212);
            border-radius: 1rem;
            padding: .7rem;
            @include column;
            padding-bottom: 1rem;
            @include mobile {
                padding: .2rem;
            }
        }
        &-initial {
            background-color: rgb(45, 157, 120);
            border-radius: 4rem;
            width: 100%;
            padding: .1rem 0;
            @include mobile {
                border-radius: .3rem;
            }
        }
    }
    &-add {
        @include column;
        width: 100%;
        margin: 0 1rem;
        border-radius: 1rem;
        background-color: rgba(147, 214, 247, 0.8);
        padding:.5rem 0 1.8rem;
        @include mobile {
            padding: .6rem 0;
        }
        &:hover {
            background-color: rgba(68, 147, 186, 0.8);
        }
        &__label {
            margin: 1rem;
            background-color: rgb(100, 205, 249, 0.8);
            border-radius: 2rem;
            padding: .3rem 1.2rem 0rem;
            letter-spacing: .08rem;
            color: $white;
            font-weight: 600;
            font-style: italic;
            @include mobile {
                border-radius: .6rem;
                font-size: .8rem;
                padding: .2rem 1rem;
                margin: 0 0 .4rem;
            }
        }
        &__enter {
            @include row;
            justify-content: center;
            width: 100%;
        }
        &__input {
            border-radius: 2rem;
            padding: 1rem;
            width: 75%;
            margin-left: 1rem;
            @include mobile {
                border-radius: .5rem;
                margin-left: .4rem;
                padding: .5rem;
            }
        }
        &__button {
            margin: 0 1rem;
            border-radius: 1rem;
            border: .1rem solid rgb(121, 251, 121);
            color: $periwinkle;
            cursor: pointer;
            padding: .5rem 1rem;
            background-color: rgba(9, 212, 134, 0.733);
            font-weight: 700;
            font-size: .9rem;
            @include mobile {
                padding: .4rem .6rem;
                margin: 0 .4rem;
            }
            &:hover {
                background-color: rgb(60, 6, 86);
                border-color: rgb(60, 6, 86);
                color: $cyan;
            }
            &:active {
                border-color: $periwinkle-lite;
                background-color: $periwinkle-lite;
                color: rgb(21, 21, 124);
            }
        }
    }
    &__close {
        @extend .open-add__button;
        margin: 1rem;
    }
}
