@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mood-nav {
    width: 8rem;
    position: absolute;
    top: 0;
    left: -0.8rem;
    bottom: 0;
    transition: left 0.5s ease;
    height: fit-screen;
    z-index: 2;

    background-color: $mint-bright;
    border-radius: 1rem;

    @include smallscreen {
        width: 33.5rem;
        left: -0.085rem;
    }

    @include tablet {
        width: 33.5rem;
        left: -0.08rem;
    }

    &__eq {
        @include column;
    }

    &__head {
        @include mobile-head-page-bold;
        margin: 2.5rem 0 0.6rem;
        color: $blue-light;
        font-weight: 700;
        border-bottom: 0.099rem solid $blue-light;
        text-shadow: 0px 1px 2px $glow;
        padding-bottom: 1rem;
        font-size: 3rem;
    }

    &__list {
        padding: 0;
        color: $white;
        padding-left: 0.5rem;
        width: 100%;
        margin: 2.5rem 0;
        @include smallscreen {
            @include column;
            margin: 3rem 0;
        }
        &-item {
            height: 4rem;
            width: 88%;
            @include row;
            justify-content: center;
            font-size: 1.5rem;
            border-radius: 2rem;
            background-color: $periwinkle-lite;
            margin-left: 0.5rem;

            margin-bottom: 1.6rem;
            @include row;
            font-weight: bold;

            @include smallscreen {
                width: 100%;
                margin-left: 0;
                padding: 0 4rem;
            }

            &:hover,
            &:focus {
                color: $aqua;
                background-color: $periwinkle;
            }
        }
    }
}
