@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.faq {
    background-color: hsla(189, 89%, 72%, 0.3);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    width: 94%;
    @include column;

    &-eq {
        width: 96%;
        @include column;
    }
    &-head {
        font-size: 2rem;
        padding: .5rem 0 .5rem;
        letter-spacing: .15rem;
        border-bottom: .2rem $white solid;
        width: 26vw;
        color: $white;
    }
    &-questions {
        @include column;
    }
    &-query {
        @include column;
        width: 90%;
        padding: .6rem 0;

        &__head {
            align-self: flex-start;
            text-align: start;
            font-size: 1.2rem;
            margin: 0;
            padding: 0 0 .5rem;
            color: $periwinkle;
        }
        &__answer {
            margin: 0;
            width: 100%;
            color: rgb(23, 23, 65);
            padding: .4rem 0 1rem;
            text-align: end;

            &-link {
                margin: 0;
                color: $white;
            }
        }
        
    }
}