@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
    width: 100%;

    &__eq {
        @include column;
    }
}

.blobs {
    mix-blend-mode: color;
    animation: blobs 15s ease-in-out infinite alternate;
    -webkit-background-clip: text;

    display: block;
    position: absolute;
    z-index: -1;
    -webkit-background-clip: text;
    background-clip: text;

    &_6 { // 1st
        background: rgba(248, 168, 243, 0.8);
        outline: rgb(21, 203, 137) dotted .5rem;
        width: 60vw;
        height: 22vh;
        top: 42vh;
        left: 9%;
        @include tablet {
            top: 36vh;
            left: 24vw;
        }
        @include desktop {
            display: none;
        }
    }
    &_4 { //2nd
        background: rgba(43, 28, 255, 0.935);
        width: 88vw;
        height: 48vh;
        top: 36vh;
        left: 6%;
        @include tablet {
            top: 22vh;
        }
        @include desktop {
            display: none;
        }
    }
    &_7 { //3rd
        background: rgba(68, 255, 249, 0.78);
        outline: rgb(251, 197, 47) dotted .7rem;
        width: 30vw;
        height: 20vh;
        top: 49vh;
        left: 61vw;
        @include tablet {
            top: 56vh;
            left: 36vw;
        }
        @include desktop {
            top: 10rem;
            width: 72vw;
            left: 14vw;
            height: 25vw;
            max-height: 20rem;
            outline: rgb(251, 197, 47) dotted 3rem;
        }
    }
    &_5{ //4th
        background: rgb(2, 221, 100, .75);
        width: 80vw;
        height: 22.4vh;
        top: 68.5vh;
        left: 9%;
        border: 1rem solid rgb(3, 15, 3);
        @include tablet {
            top: 70vh;
        }
        @include desktop {
            display: none;
        }
    }

    &_2 { //5th - sleep
        background: rgb(184, 255, 31, .6);
        width: 91vw;
        height: 48vh;
        top: 102vh;
        left: 4vw;
        outline: #1eceff dotted .6rem;
        @include desktop {
            height: 75rem;
            top: 38rem;
        }
    }
    &_9 { //6th
        background: rgba(246, 241, 73, 0.8);
        width: 40vw;
        height: 19vh;
        top: 111vh;
        left: 20%;
        outline: rgb(237, 84, 201, .7) solid .3rem;
        @include desktop {
            display: none;
        }
    }
    &_11 { //7th
        background: rgba(68, 255, 249, 0.7);
        width: 46vh;
        height: 20vh;
        top: 126vh;
        left: 10%;
        @include desktop {
            display: none;
        }
    }

    &_3 { // emotes
        background: rgb(33, 195, 216, .8);
        width: 35vh;
        height: 20vh;
        top: 162vh;
        left: 10vw;
        @include desktop {
            display: none;
        }
    }
    &_10 {
        background: rgb(245, 123, 8, .75);
        width: 41vw;
        height: 26vh;
        top: 166vh;
        left: 55vw;
        outline: rgb(47, 247, 217) dotted .4rem;
        @include desktop {
            display: none;
        }
    }
    &_8 {
        background: rgb(2, 221, 100, .7);
        width: 92vw;
        height: 48.5vh;
        top: 178vh;
        left: 3vw;
        outline: rgba(194, 132, 142, 0.749) solid .5rem;
        
    }
    &_13 {
        background: rgba(47, 24, 255, 0.8);
        width: 48vw;
        height: 32vh;
        top: 206vh;
        left: 9vw;
        outline: rgba(200, 157, 0, 0.9) dotted 1.8rem;
        @include desktop {
            display: none;
        }
    }


    &_12 {
        background: rgba(253, 145, 50, 0.7);
        width: 30vw;
        height: 34vh;
        top: 252vh;
        left: 12vw;
        outline: solid .6rem blue;
        @include desktop {
            display: none;
        }
    }
    &_1 {
        background: rgb(30, 214, 255, .7);
        width: 80vw;
        height: 42vh;
        top: 252vh;
        left: 3vw;
        @include desktop {
            outline: rgba(190, 0, 200, 0.9) dotted 1.8rem;
        }
    }
    &_14 {
        background: rgba(253, 212, 50, 0.7);
        width: 30vw;
        height: 20vh;
        top: 265vh;
        left: 60vw;
        outline: dotted .6rem rgba(255, 0, 251, 0.8);
        @include desktop {
            display: none;
        }
    }
}
@keyframes blobs {
    0% {
        border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    }
    10% {
        border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
    }
    20% {
        border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
    }
    30% {
        border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
    }
    40% {
        border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
    }
    50% {
        border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
    }
    60% {
        border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
    }
    70% {
        border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
    }
    80% {
        border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
    }
    90% {
        border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    }
    100% {
        border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
    }
}
