@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
    width: 100%;

    &__eq {
        @include column;
    }
}

.blobs {
    mix-blend-mode: color;
    animation: blobs 15s ease-in-out infinite alternate;
    -webkit-background-clip: text;

    display: block;
    position: absolute;
    z-index: -1;
    -webkit-background-clip: text;
    background-clip: text;

    &_6 { // 1st
        background: rgba(208, 41, 197, 0.8);
        outline: rgb(47, 251, 176) dotted .4rem;
        width: 60vw;
        height: 22vh;
        top: 38vh;
        left: 9%;
    }
    &_4 { //2nd
        background: #2b1cff;
        width: 88vw;
        height: 48vh;
        top: 34vh;
        left: 6%;
    }
    &_7 { //3rd
        background: rgba(68, 255, 249, 0.78);
        outline: rgb(214, 47, 251) dotted .4rem;
        width: 30vw;
        height: 20vh;
        top: 50vh;
        left: 50vw;
    }
    &_5{ //4th
        background: rgb(2, 221, 100, .8);
        width: 80vw;
        height: 32.6vh;
        top: 64.5vh;
        left: 9%;
    }

    &_2 { //5th - sleep
        background: rgb(184, 255, 31, .8);
        width: 91vw;
        height: 41vh;
        top: 101vh;
        left: 4vw;
        outline: #1eceff dotted .5rem;
    }
    &_9 { //6th
        background: rgb(203, 205, 65, .9);
        width: 40vw;
        height: 19vh;
        top: 105vh;
        left: 20%;
        outline: rgb(237, 84, 201) dotted .4rem;
    }
    &_11 { //7th
        background: rgba(68, 255, 249, 0.8);
        width: 46vh;
        height: 20vh;
        top: 115vh;
        left: 10%;
    }

    &_3 { // emotes
        background: rgb(33, 195, 216, .9);
        width: 35vh;
        height: 20vh;
        top: 138%;
        left: 10%;
    }
    &_10 {
        background: #f447e6;
        width: 33vw;
        height: 26vh;
        top: 147vh;
        left: 55vw;
        outline: rgb(247, 234, 47) dotted .4rem;
    }
    &_8 {
        background: rgb(2, 221, 100, .8);
        width: 92vw;
        height: 57.5vh;
        top: 155vh;
        left: 4%;
        outline: rgb(237, 34, 68) dotted .5rem;
    }


    &_12 {
        background: rgba(253, 145, 50, 0.7);
        width: 30vw;
        height: 40vh;
        top: 220vh;
        left: 16vw;
        outline: dotted .5rem blue;
    }
    &_1 {
        background: #1e5aff;
        width: 80vw;
        height: 44vh;
        top: 220vh;
        left: 10%;
    }
}
@keyframes blobs {
    0% {
        border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    }
    10% {
        border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
    }
    20% {
        border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
    }
    30% {
        border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
    }
    40% {
        border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
    }
    50% {
        border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
    }
    60% {
        border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
    }
    70% {
        border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
    }
    80% {
        border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
    }
    90% {
        border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    }
    100% {
        border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
    }
}
