@use "./variables" as *;

// Screen Sizes
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// Flex Directions
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Buttons
@mixin button {
    height: 2.5rem;
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.25rem;
    border: 0;
    background-color: green;
    color: lightgoldenrodyellow;
    justify-content: center;
}

// Text styles
@mixin mobile-head-page {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin mobile-head-section {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin mobile-subhead {
    font-size: 0.9rem;
    line-height: 1.125rem;
    font-weight: 500;
}

@mixin mobile-body {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin mobile-label {
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 400;
}

// Image
@mixin user {
    border-radius: 50%;
    width: 12vw;
    max-width: 2.6rem;
    background-color: green;
}