@use "./variables" as *;

// Screen Sizes
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// Flex Directions
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Buttons
@mixin button {
    width: 90%;
    border-radius: 1rem;
    height: 2.2rem;
    @include row;
    justify-content: center;
    border: 0.1rem inset $periwinkle-lite;
    letter-spacing: .08rem;

    &:hover,
    &:focus {
        outline: 0.26rem dotted $aqua;
        text-shadow: -0.2px -.5px 1.7px $glow;
    }
}

@mixin button-label {
    height: 2.1rem;
    width: 8rem;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    border: 0.1rem inset $periwinkle;
    background-color: $periwinkle-lite;
    color: $blue-light;
    justify-content: center;
}

@mixin button-choice {
    height: 1.6rem;
    width: fit-content;
    border-radius: 1rem;
    border: .1rem dashed $periwinkle;
    background-color: $periwinkle-lite;
    color: $white;
    justify-content: center;
    padding: .4rem .8rem;
    &:hover {
        background-color: $periwinkle;
        color: $aqua;
    }
    &:focus, &:active {
        border: .1rem solid $periwinkle;
        font-weight: bold;
    }
}

@mixin dropdown {
    height: 1.7rem;
    width: fit-content;
    border-radius: 1rem;
    border: 0.08rem solid $periwinkle;
    background-color: $periwinkle-lite;
    color: $blue-light;
    justify-content: center;
    padding: .1rem .3rem;
    text-align: center;
}

@mixin button-submit {
    height: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid green;
    background-color: $blue-light;
    color: rgb(0, 55, 0);
    justify-content: center;
    font-weight: 600;
    font-size: .85rem;
    &:hover {
        background-color: $cyan;
        outline: 0.3rem dotted green;
        border: 0;
        color: blue;
        font-weight: bold;
    }
    &:active {
        background-color: rgb(40, 175, 40);
        outline: 0;
        color: $white;
    }
}

// Text styles
@mixin mobile-head-page-bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin mobile-head-page-lite {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

@mixin mobile-head-category {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.16rem;
}

@mixin mobile-head-section {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin mobile-subhead {
    font-size: .92rem;
    line-height: 1.125rem;
    font-weight: 500;
}

@mixin mobile-body {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin mobile-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
}

// Image
@mixin user {
    border-radius: 50%;
    width: 8vw;
    max-width: 2.2rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: rgb(117, 203, 117);
}

// Padding
@mixin padding-body {
    padding: 0.2rem 0.4rem;
}

// Shadow
@mixin shadow-left {
    text-shadow: -0.2px 1px 3px $glow;
}

@mixin shadow-right {
    text-shadow: 0.3px 1px 3.5px $glow;
}

//Borders
@mixin choice-divider {
    border-top: 0.1rem solid $white;
    border-bottom: 0.1rem solid $white;
}
