$blue-light: rgb(222, 235, 247);
$mint: rgb(134, 190, 148);
$periwinkle: rgb(94, 122, 175);
$periwinkle-lite: #80aaf7;
$glow: #c5eef4; 
$white: rgb(231, 243, 213);
$mint-bright:rgb(117, 203, 117);
$aqua: aquamarine;
$cyan: #65edff;
$deepblue: rgb(12, 54, 96);
$deepurp: rgba(120, 10, 113, 0.926);

$theblue: rgba(17, 95, 121, 0.851);
$theyellow: rgba(210, 210, 47, 0.818);
$thegreen: rgba(22, 201, 22, 0.729);
$thered: rgba(255, 0, 123, 0.896);
$theorange: rgba(255, 166, 0, 0.792);
$thedeep: rgba(0, 0, 255, 0.763);
$liteyellow: rgba(217, 255, 0, 0.82);

$color1: #306D85;
$color2: #D93A54;

$badcolor: rgba(238, 177, 133, 0.724);
$goodcolor: rgba(107, 228, 185, 0.6);

$green:rgb(64, 209, 110, .5);
$blue: rgb(29, 29, 200);
$warm: hsla(33, 86%, 54%, 0.3);

/* Colours */
$loadbackground: #377771;
$cardBackground: #ffc9ad;
$cardBackgroundDarker: #ffad85;
$ground: #ff8e72;
$groundDarker: #ff6c47;
$characterHead: #377771;
$characterBorder: #204642;
$mouth: #f08080;
$mouthDark: #cd6e6e;

/* Sizes */
$containerWidth: 380px;
$containerHeight: 500px;
$groundNodeWidth: 250px;
$groundNodeHeight: 300px;
$circleOffset: 50px;
$characterSize: 200px;
$borderRadius: 20px;
$eyeRadius: 45px;
$pupilRadius: 15px;
$sunRadius: 200px;

/* Positions */
$groundNodesStartX: -($groundNodeWidth - ($containerWidth / 3) + ($groundNodeWidth / 2) + $borderRadius);
$groundNodesEndX: $groundNodesStartX - $groundNodeWidth;