$blue-light: rgb(222, 235, 247);
$mint: rgb(134, 190, 148);
$periwinkle: rgb(94, 122, 175);
$periwinkle-lite: rgb(128, 170, 247);
$glow: #c5eef4; 
$white: rgb(231, 243, 213);
$mint-bright:rgb(117, 203, 117);
$aqua: aquamarine;