@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.top-eq {
    @include row;
    width: 50%;
    justify-content: space-between;
    @include mobile {
        margin: 1.6rem 0 1rem;
        width: 90%;
    }
    &-streak {
        color: purple;
        background-color: rgba(150, 239, 244, 0.747);
        padding: .2rem 1rem;
        border-radius: 4rem;
        font-weight: 600;
        &:hover, &:active {
            background-color: rgba(39, 143, 149, 0.747);
        }
    }
}
.all-logs {
    @include column;
    width: 100%;
    margin: 0 0 3rem;
    &__eq {
        width: 100%;
        @include column;
    }
    &__head {
        letter-spacing: 0.2rem;
        border-bottom: 0.4rem dotted purple;
        width: fit-content;
        padding-bottom: 0.8rem;
        font-size: 1.5rem;
        color: rgb(242, 227, 176);
        @include mobile {
            font-size: 1.2rem;
            border-bottom: 0.1rem double purple;
            letter-spacing: 0;
            color: purple;
        }
        &:hover {
            @include shadow-left;
            border-color: $glow;
        }
    }
    &__top {
        @include row;
        justify-content: space-between;
    }
    &__search {
        @include row;
        background-color: rgb(177, 236, 214);
        border-radius: 1.5rem;
        padding: 0.2rem 0.6rem;

        &-button {
            border: 0;
            margin-left: 0.3rem;
            background-color: rgb(177, 236, 214);
            cursor: pointer;
            border-radius: 1rem;
            &:hover {
                background-color: rgb(208, 241, 229);
            }
        }
        &-bar {
            border-radius: 1rem;
            font-family: avenir;
            padding: 0.5rem 1rem;
            height: 2.2rem;
            resize: none;
            &::placeholder {
                color: rgb(66, 108, 126);
            }
        }
    }
    &__sort-button {
        border: 0;
        border-radius: 4rem;
        background-color: rgb(73, 23, 154);
        font-size: 1rem;
        cursor: pointer;
        color: rgb(255, 161, 29);
        font-weight: 500;
        letter-spacing: 0.06rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        @include mobile {
            font-size: 0.72rem;
            padding: 0.4rem 0.6rem;
            margin-left: 0.6rem;
            @include column;
            border-radius: 1.2rem;
        }
        &:hover {
            background-color: rgb(71, 4, 171);
            outline: solid rgb(180, 237, 237) 0.15rem;
            color: rgb(239, 166, 63);
        }
        &:active {
            background-color: rgb(102, 21, 223);
            outline: solid rgb(114, 225, 225) 0.15rem;
        }
    }
    &__logs {
        @include column;
        margin-top: 2rem;
        width: 100%;
        @include desktop {
            @include row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        @include mobile {
            margin-top: 0.8rem;
        }
    }
}
