@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.all-logs {
    @include column;
    width: 100%;
    &__eq {
        width: 100%;
        @include column;
    }
    &__head {
        letter-spacing: .16rem;
        border-bottom: .1rem solid $white;
        width: 80%;
    }
    &__search {

        &-magnifying-glass {

        }
        &-bar {
            border-radius: 1rem;
            &::placeholder {

            }
        }
    }

    &__logs {
        @include column;
        margin-top: 2rem;
        width: 100%;
    }
}