@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@import url("https://fonts.googleapis.com/css?family=Titan+One");

.add-mood {
    margin-bottom: 2.5rem;

    &-quick {
        @include column;

        &__head {
            width: 100%;
            position: relative;
            font-family: "Titan One", avenir, sans-serif;
            font-size: 1.7rem;
            line-height: 2.4rem;
            font-weight: 700;
            z-index: -1;
            margin: 3rem 0 3rem;

            &-crop {
                width: 100%;
                color: transparent;
                background: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
                -webkit-background-clip: text;
                background-clip: text;
                display: block;
                content: "";
                mix-blend-mode: screen;
            }
        }

        &-only {
            @include column;
            background-color: hsla(33, 86%, 54%, 0.3);
            border-radius: 1rem;
            padding-top: 1.2rem;
            width: 95%;

            &__buttons {
                @include row;
                align-self: flex-end;
                padding-right: 1rem;
            }

            &__submit {
                @include button-submit;
                width: 5rem;
                height: 2.5rem;
                margin: 0.6rem 1rem 0 0;
                font-size: 1rem;
            }
        }

        &__level {
            @include column;
            width: 100%;

            &-head {
                @include mobile-head-category;
                margin: 0;
            }
            &-subhead {
                @include mobile-subhead;
                margin: .2rem 0 1.2rem;
                color: $blue-light;
            }
            &-divider {
                width: 1.4rem;
                margin: 0.8rem 0 1.5rem;
            }
            &-state {
                @include row;
                justify-content: center;
                width: 90%;

                &-opt {
                    display: none;
                    &:checked + label {
                        border: 0.2rem solid $periwinkle;
                        font-weight: bold;
                    }
                    &:not(:checked) + label {
                        border: 0.1rem dashed $periwinkle;
                        font-weight: 400;
                    }
                    &ion {
                        @include button-choice;
                        margin: 0 0.4rem;
                        @include mobile-body;
                    }
                }
            }
            &-severity {
                @include column;
                width: 100%;
                &-all {
                    @extend .add-mood-quick__level-state;
                }

                &-opt {
                    @extend .add-mood-quick__level-state-opt;

                    &ion {
                        @extend .add-mood-quick__level-state-option;
                    }
                }
            }
        }

        &__observations {
            @include column;
            margin-top: 1.4rem;
            &-all {
                &-head {
                    @include mobile-head-category;
                    margin-bottom: 0.65rem;
                }
            }
            &-irritability {
                &-head {
                    @include mobile-subhead;
                    color: $blue-light;
                    font-weight: bolder;
                }
                &-menu {
                    @include dropdown;
                    margin-left: 0.6rem;
                    margin-bottom: 0.4rem;
                    @include mobile-body;
                }
            }

            &-anxiety {
                &-head {
                    @extend .add-mood-quick__observations-irritability-head;
                }
                &-menu {
                    @extend .add-mood-quick__observations-irritability-menu;
                }
            }
        }
        &__sleep {
            &-form {
                &-head {
                    @include mobile-head-category;
                    margin: 2rem 0 0;
                }
                &-hours {
                    @include column;
                    &-head {
                        @extend .add-mood-quick__observations-irritability-head;
                        margin: 0.5rem 0 0.2rem;
                    }
                    &-menu {
                        @extend .add-mood-quick__observations-irritability-menu;
                        height: 1.9rem;
                    }
                }
                &-quality {
                    @include column;

                    &-head {
                        @extend .add-mood-quick__observations-irritability-head;
                        margin: 0.4rem 0 0.2rem;
                    }
                    &-options {
                        @include row;
                        justify-content: center;
                        background-color: $periwinkle-lite;
                        width: fit-content;
                        padding: 0.8rem 1.5rem;
                        border-radius: 1rem;
                        border: 0.2rem double $periwinkle;
                    }
                    &-option {
                        width: 3.5rem;
                        margin: 0 0.5rem;
                        transition: 0.3s;
                        &:hover,
                        &:focus,
                        &:active {
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
        &__notes {
            width: 100%;
            @include column;
            margin-top: 0.8rem;
            &-form {
                width: 90%;
                &-head {
                    @include mobile-head-category;
                    margin-bottom: 0.5rem;
                    &--note {
                        margin-top: 0.8rem;
                    }
                }
                &-box {
                    resize: none;
                    padding: 0.5rem 0.5rem 0 1rem;
                    width: 80%;
                    border-radius: 1rem;
                    border: $periwinkle 0.1rem solid;
                    font-family: avenir, Arial, Helvetica, sans-serif;
                    @include mobile-body;
                    background-color: $periwinkle-lite;
                    color: $white;
                    font-weight: 600;

                    &-title {
                        height: 2.5rem;
                    }
                    &-note {
                        height: 5rem;
                    }
                    &::placeholder {
                        font-family: avenir, Arial, Helvetica, sans-serif;
                        color: $aqua;
                    }
                }
            }
        }

        &__emote {
            width: 100%;
            @include column;
            &-eq {
                @include column;
                width: 100%;
            }
            &-head {
                @include mobile-head-category;
                width: 70%;
                margin: 1.8rem 0 0rem;
            }
            &-menu {
                @include column;
                width: 100%;

                &-eq {
                    width: 96%;
                    @include row;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 0.9rem 0;
                    border: double $aqua 0.18rem;
                    border-radius: 1rem;
                }
                &-option {
                    width: 20%;

                    &--buttonpress {
                        background-color: $periwinkle-lite;
                        border-radius: 1rem;
                        width: 3.78rem;
                        margin: 0.3rem 0;
                        padding: 0.3rem 0 0;
                        border: solid 0.03rem $periwinkle;
                        transition: transform 0.18s;
                        &:focus,
                        &:active {
                            border: solid 0.1rem rgb(49, 223, 254);
                            background-color: $periwinkle;
                        }

                        &:hover {
                            transform: scale(2);
                            font-weight: 900;
                        }

                        & div {
                            @include column;
                            justify-content: center;
                        }
                        & img {
                            width: 2rem;
                        }
                        & h4 {
                            font-size: 0.5rem;
                            text-wrap: wrap;
                            margin: 0;
                            line-height: 1rem;
                            color: $blue-light;
                        }
                    }
                }
            }
        }
    }
}
