@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@import url("https://fonts.googleapis.com/css?family=Titan+One");

.form-group {
    @include row;
    &-custom {
        @include column;
        margin: 2rem 1.6rem 0 0;
        &-title {
            color: aliceblue;
            padding-bottom: .2rem;
        }
        &-calendar {
            font-family: avenir;
        }
    }
}
.add-mood {
    margin-bottom: 6rem;

    &-quick {
        @include column;

        &__head {
            width: 100%;
            position: relative;
            font-family: "Titan One", avenir, sans-serif;
            font-size: 1.5rem;
            line-height: 2.4rem;
            font-weight: 700;
            z-index: -1;
            margin: 3rem 0 3rem;
            @include mobile {
                margin: 3.4rem 0 0;
                padding: 0 1rem;
                font-size: 1.4rem;
                line-height: 2.5rem;
            }
            @include tablet {
                font-size: 2.8rem;
                line-height: 3.5rem;
                margin: 3rem 0 4rem;
            }
            @include desktop {
                font-size: 3.5rem;
                line-height: 5rem;
                margin: 12rem 0 15rem;
            }

            &-crop {
                width: 100%;
                color: transparent;
                background: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
                -webkit-background-clip: text;
                background-clip: text;
                display: block;
                content: "";
                mix-blend-mode: screen;
                &-name {
                    @extend .add-mood-quick__head-crop;
                }
            }
        }
        &-only {
            @include column;
            border-radius: 1rem;
            padding: 2.5rem 0 2rem;
            width: 95%;
            @include tablet {
                padding: 2.5rem 0 2rem;
            }
            @include desktop {
                @include row;
                flex-wrap: wrap;
                padding: 0;
                justify-content: space-between;
                width: 86%;
                max-width: 95rem;
            }

            &__buttons {
                @include row;
                align-self: flex-end;
                padding-right: 1rem;
                @include desktop {
                    margin: 5rem 0 0;
                }
            }

            &__submit {
                @include button-submit;
                width: 5rem;
                height: 2.5rem;
                margin: 3rem 1rem 0 0;
                font-size: 1rem;
                @include desktop {
                    border-radius: 4rem;
                    width: 8rem;
                    height: 3rem;
                    &:hover {
                        outline: darkgreen .6rem dotted;
                    }
                    &:active {
                        background-color: rgb(123, 221, 241);
                        color: black;
                    }
                }
            }
        }

        &__level {
            @include column;
            width: 100%;
            @include mobile {
                
            }
            @include desktop {
                width: fit-content;
                background-color: rgba(93, 56, 99, 0.402);
                margin: 0;
                padding: 2rem 1rem 1rem;
                border-radius: 4rem;
            }
            &-head {
                @include mobile-head-category;
                margin: 0;
                @include tablet {
                    font-size: 2rem;
                }
            }
            &-subhead {
                @include mobile-subhead;
                margin: 0.2rem 0 1.2rem;
                color: $blue-light;
                @include desktop {
                    font-size: 1.2rem;
                    margin: 0.6rem 0 1.5rem;
                }
            }
            &-divider {
                width: 1.4rem;
                margin: 0 0 1.5rem;
            }
            &-state {
                @include row;
                justify-content: center;
                width: 90%;

                &-opt {
                    display: none;
                    &:checked + label {
                        background-color: $periwinkle;
                        color: $aqua;
                        font-weight: bold;

                    }
                    &:not(:checked) + label {
                        border: 0.2rem solid $periwinkle;
                        font-weight: 400;
                    }
                    &ion {
                        @include button-choice;
                        margin: 0 0.4rem;
                        @include mobile-body;
                        cursor: pointer;
                    }
                }
            }
            &-level {
                @include column;
                width: 100%;

                &-all {
                    @extend .add-mood-quick__level-state;
                    @include desktop {
                        padding-bottom: 1.4rem;
                    }
                }

                &-opt {
                    @extend .add-mood-quick__level-state-opt;
                    &:active {
                        border: 2rem solid $periwinkle;
                        font-weight: bold;
                    }
                    &ion {
                        @extend .add-mood-quick__level-state-option;
                    }
                }
            }
        }

        &__observations {
            @include column;
            margin-top: 1.4rem;
            @include desktop {
                width: 16.4rem;
                background-color: rgba(93, 56, 99, 0.402);
                padding: 0 1.4rem 1.6rem;
                border-radius: 4rem;
                margin-top: 0;
            }
            &-all {
                &-head {
                    @include mobile-head-category;
                    margin-bottom: 0.65rem;
                    @include tablet {
                        font-size: 2rem;
                    }
                    @include desktop {
                        text-wrap: wrap;
                        line-height: 2.2rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            &-irritability {
                &-head {
                    @include mobile-subhead;
                    color: $blue-light;
                    font-weight: bolder;
                    @include desktop {
                        font-size: 1.2rem;
                        color: white;
                        text-shadow: 2px 2px black;
                        margin-right: 0.5rem;
                    }
                }
                &-menu {
                    @include dropdown;
                    margin-left: 0.6rem;
                    margin-bottom: 0.4rem;
                    @include mobile-body;
                    @include desktop {
                        max-width: 6rem;
                    }
                }
            }

            &-anxiety {
                &-head {
                    @extend .add-mood-quick__observations-irritability-head;
                }
                &-menu {
                    @extend .add-mood-quick__observations-irritability-menu;
                }
            }
        }
        &__sleep {
            margin: 6.8rem 0 2rem;
            @include desktop {
                width: fit-content;
                background-color: rgba(93, 56, 99, 0.402);
                padding: 0 0 1.4rem 1rem;
                border-radius: 5rem;
                margin: 0;
                max-width: 28rem;
            }
            &-form {
                &-eq {
                    @include desktop {
                        @include row;
                    }
                }
                &-head {
                    @include mobile-head-category;
                    margin: 2rem 0 1rem;
                    @include tablet {
                        font-size: 2rem;
                    }
                    @include desktop {
                        margin: 1.4rem 0 1rem;
                    }
                }
                &-hours {
                    @include column;
                    margin: 0 0 1rem;
                    &-head {
                        @extend .add-mood-quick__observations-irritability-head;
                        margin: 0.5rem 0 0.8rem;
                        font-size: 1rem;
                        letter-spacing: 0.1rem;
                    }
                    &-menu {
                        @extend .add-mood-quick__observations-irritability-menu;
                        height: 2.3rem;
                        border-radius: 1.2rem;
                    }
                }
                &-quality {
                    @include column;

                    &-head {
                        @extend .add-mood-quick__sleep-form-hours-head;
                        margin: 0 0 0.8rem;
                    }
                    &-options {
                        @include row;
                        justify-content: center;
                        background-color: $periwinkle-lite;
                        width: fit-content;
                        padding: 0.8rem .5rem;
                        border-radius: 1rem;
                        border: 0.2rem double $periwinkle;
                        
                        @include desktop {
                            width: 64%;
                            flex-wrap: wrap;
                            padding: 0;
                            height: 9rem;
                        }
                    }
                    &-option {
                        width: 3.5rem;
                        margin: 0 0.5rem;
                        transition: 0.3s;
                        cursor: pointer;
                        @include desktop {
                            margin: 0.4rem 0.6rem;
                        }
                        &:hover {
                            transform: scale(1.4);
                        }
                        &.selected {
                            outline: rgb(188, 24, 144) 0.2rem dashed;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
        &__notes {
            width: 100%;
            @include column;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            @include desktop {
                width: 40%;
                justify-content: space-around;
                height: 45rem;
            }
            &-form {
                width: 90%;
                &-eq {
                    @include desktop {
                        background-color: rgba(93, 56, 99, 0.402);
                        border-radius: 5rem;
                        padding: 0.8rem 0 0;
                    }
                }
                &-head {
                    @include mobile-head-category;
                    margin-bottom: 0.5rem;
                    @include tablet {
                        font-size: 2rem;
                    }
                    &--note {
                        margin-top: 0.8rem;
                    }
                }
                &-box {
                    resize: none;
                    padding: 0.5rem 0.5rem 0 1rem;
                    width: 80%;
                    border-radius: 1rem;
                    border: $periwinkle 0.1rem solid;
                    font-family: avenir, Arial, Helvetica, sans-serif;
                    @include mobile-body;
                    background-color: $periwinkle-lite;
                    color: $white;
                    font-weight: 600;

                    &-title {
                        height: 2.5rem;
                        margin: 0 0 2rem;
                    }
                    &-note {
                        height: 5rem;
                        margin: 0 0 2rem;
                    }
                    &::placeholder {
                        font-family: avenir, Arial, Helvetica, sans-serif;
                        color: rgb(69, 19, 116);
                    }
                }
            }
        }
        &__emote {
            width: 100%;
            @include column;
            margin: 4rem 0 3rem;
            @include desktop {
                width: 40rem;
                background-color: rgba(93, 56, 99, 0.402);
                border-radius: 5rem;
            }

            &-option-eq {
                display: none;
            }
            &-eq {
                @include column;
                width: 100%;
            }
            &-head {
                @include mobile-head-category;
                width: 70%;
                margin: 1.8rem 0 0.5rem;
                @include tablet {
                    font-size: 2rem;
                }
                @include desktop {
                    line-height: 2.5rem;
                    width: 90%;
                }
            }
            &-menu {
                @include column;
                width: 100%;
                &-eq {
                    width: 100%;
                    @include row;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 0.5rem 0.2rem;
                    border: double rgb(92, 41, 146) 0.2rem;
                    border-radius: 1.2rem;
                    @include desktop {
                        background-color: rgba(103, 17, 141, 0.754);
                        border-color: rgb(10, 131, 41);
                        padding: 1.5rem 0.5rem;
                        width: 95%;
                    }
                }
                &-option {
                    width: 20%;
                    &--buttonpress {
                        background-color: $periwinkle-lite;
                        border-radius: 2rem;
                        width: 3.78rem;
                        margin: 0.3rem 0;
                        padding: 0.3rem 0 0;
                        border: solid 0.03rem rgb(48, 61, 159);
                        transition: transform 0.18s;
                        cursor: pointer;

                        @include desktop {
                            width: 6rem;
                            height: 6rem;
                            border-radius: 4rem;
                        }

                        &:hover {
                            transform: scale(2);
                            font-weight: 900;
                        }
                        &.selected {
                            border: rgb(54, 5, 41) solid 0.12rem;
                            background-color: rgb(50, 5, 94);
                        }

                        & div {
                            @include column;
                            justify-content: center;
                        }
                        & img {
                            width: 2rem;
                        }
                        & h4 {
                            font-size: 0.5rem;
                            text-wrap: wrap;
                            margin: 0;
                            line-height: 1rem;
                            color: $blue-light;
                            @include desktop {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.error {
    color: #9b0e2a;
    font-weight: 700;

    padding: 0.25rem 1rem;
    margin: 0.25rem 0;

    &-state {
        margin: 1rem 0 0;
    }
}
