@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.map{
    @include column;
    padding: 0 0 1.5rem;
    width: 100%;

    &-controls {
        padding: .4rem .6rem;
        width: 90%;
        background-color: rgba(0, 243, 146, 0.424);
        border-radius: 1rem;
        @include mobile {
            border-radius: .4rem;
        }
        @include smallscreen {
            margin-top: 2rem;
        }
        &-eq {
            width: 100%;
            @include row;
            justify-content: space-between;
        }
    }
    &-slides {
        width: 100%;
        @include column;
        height: 36vh;
        @include mobile {
            max-height: 31.4vh;
        }

        &__slide {
            width: 100%;
            background-color: rgb(150, 150, 242);
            @include mobile {
                height: 40;
            }
        }
    }
    &-title {
        margin: 0;
        font-size: 1.18rem;
        font-weight: 400;
        width: 88%;
        text-align: start;
        @include mobile {
            font-size: .8rem;
            margin-top: .4rem;
        }
    }
    &-arrows {
        background-color: rgb(141, 207, 207);
        border-radius: 1rem;
        padding: .2rem .5rem;

        &-arrow {
            font-weight: 600;
            color: $white;
            border-radius: 1rem;
            border: 0;
            cursor: pointer;
            margin: 0 .5rem;
            padding: .5rem .8rem;
            background-color: rgba(150, 107, 15, 0.86);
            @include mobile {
                padding: .2rem .4rem;
            }
        }
    }
    &-groups {
        @extend .map-arrows;
        &-group {
            @extend .map-arrows-arrow;
            margin-right: .4rem;
            margin-left: 0;
            padding: .5rem .8rem;
            @include mobile {
                padding: .2rem .4rem;
            }
        }
    }
}