@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    &__menu {
        @include user;
        padding: 0.2rem;
        cursor: pointer;
    }
    &-left {
        @include row;
        position: relative;
        transition: left 0.1s ease;
        left: 1rem;
    }
    &-left-nav-visible {
        .header-left {
            left: 8rem;
        }
        .header__menu {
            background-color: rgb(41, 251, 160);
        }
    }
    &-right-nav-visible {
        .user {
            background-color: rgb(41, 251, 160);
            &-container {
                right: 17rem;
            }
        }
    }
}
#header {
    @include row;
    align-items: flex-start;
    justify-content: space-between;
}

.home-nav {
    width: 100%;
    @include row;
    justify-content: space-between;

    &__eq {
        @include row;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
    }

    &__logo {
        background-color: $periwinkle;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        border-radius: 1rem;
        border: 0;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        @include mobile-head-page-bold;

        &-mood {
            color: $white;
            transition: 0.3s;
            @include shadow-left;

            &:hover {
                color: $aqua;
            }

            &:focus {
                color: $aqua;
            }
        }
        &-memory {
            color: $white;
            transition: 0.3s;
            @include shadow-right;
            font-weight: lighter;

            &:hover {
                color: $aqua;
            }

            &:focus {
                color: $aqua;
            }
        }
    }
}
.user {
    @include user;
    margin-top: 0.2rem;
    max-width: 2.2rem;
    cursor: pointer;
    &-container {
        position: relative;
        transition: right 0.1s ease;
        right: 1rem;
    }
}
