@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.logged {
    width: 90%;
    border-radius: 1rem;
    margin: 0.6rem;
    @include column;
    padding: 0;
    background-color: rgba(58, 179, 231, 0.6);
    color: aliceblue;
    &:hover {
        background-color: rgba(68, 187, 239, 0.8);
    }
    &:active {
        background-color: rgb(100, 205, 249);
    }
    max-width: 40rem;

    &-eq {
        @include row;
        justify-content: space-between;
        width: 94%;
        padding: 0.8rem 0 0.8rem;
    }
    &__frame {
        margin-right: 1rem;
        width: fit-content;
        padding: 1rem;
        border-radius: 1rem;
        border: 0.1rem solid rgb(228, 138, 255);
        background-color: rgba(127, 206, 240, 0.5);
        @include column;
        justify-content: center;
        @include mobile {
            padding: .5rem;
            margin-right: .2rem;
        }

        &-emoji {
            width: 6.5vw;
            max-width: 2.5rem;
            @include mobile {
                width: 2.2rem;
            }
        }
    }
    &-info {
        width: 80%;
        padding-right: .1rem;

        &__top {
            @include row;
            justify-content: space-between;
            align-items: flex-start;

            &-left {
                text-align: start;
                &-emotion {
                    margin: 0;
                    font-size: 1.2rem;
                    line-height: 1;
                    font-weight: 500;
                }
                &-title {
                    margin: 0;
                    padding: .2rem 0 0;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    font-weight: 200;
                    line-height: 1;
                    text-wrap: nowrap;
                }
            }
            &-right {
                text-align: end;
                height: fit-content;
                &-date {
                    @extend .logged-info__top-left-emotion;
                }
            }
        }
        &--bold {
            color: rgb(252, 204, 152);
            text-shadow: 1.3px 2px rgb(99, 55, 80);
        }
        &__bottom {
            
            &-eq {
                @include column;
                padding: .5rem 0 0;
                
            }
            &-state {
                @extend .logged-info__top-left-emotion;
                background-color: antiquewhite;
                border-radius: 1rem;
                padding: .3rem 1rem;
                margin: 0 0 .5rem;
                color: #863983;

            }
            &-lower {
                @extend .logged-info__top-left-title;
                @include row;
                width: 60%;
                align-self: flex-start;
                
                &-item {
                    padding: 0 .5rem;
                }
            }
        }
    }
}
