@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.logged {
    width: 90%;
    border-radius: 1rem;
    margin: 0.6rem;
    @include column;
    padding: 0;
    background-color: rgba(58, 179, 231, 0.6);
    color: aliceblue;
    &:hover {
        background-color: rgba(68, 187, 239, 0.8);
    }
    &:active {
        background-color: rgb(100, 205, 249);
    }
    max-width: 40rem;

    &-eq {
        @include row;
        justify-content: space-between;
        width: 94%;
        padding: 0.8rem 0 0.8rem;
    }
    &__frame {
        margin-right: 1rem;
        width: 8vh;
        height: 8vh;
        border-radius: 1rem;
        border: 0.1rem solid rgb(228, 138, 255);
        background-color: rgba(127, 206, 240, 0.5);
        @include column;
        justify-content: center;

        &-emoji {
            width: 5vh;
            max-width: 2.5rem;
        }
    }
    &-info {
        width: 80%;
        padding-right: .1rem;

        &__top {
            @include row;
            justify-content: space-between;

            &-left {
                text-align: start;
                &-emotion {
                    margin: 0;
                    font-size: 1.2rem;
                    line-height: 1;
                    font-weight: 500;
                }
                &-title {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    font-weight: 200;
                    line-height: 1;
                }
            }
            &-right {
                text-align: end;
                &-date {
                    @extend .logged-info__top-left-emotion;
                }
                &-time {
                    @extend .logged-info__top-left-title;
                }
            }
        }
        &__bottom {
            &-eq {
                @include column;
            }
            &-state {
                @extend .logged-info__top-left-emotion;
            }
            &-lower {
                @extend .logged-info__top-left-title;
                @include row;
                justify-content: space-between;
                width: 60%;
                // &-irr {
                // }
                // &-anx {
                // }
                // &-hours {
                // }
            }
        }
    }
}
