/* Colours */
/* Sizes */
/* Positions */
.logged {
  width: 90%;
  border-radius: 1rem;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: rgba(58, 179, 231, 0.6);
  color: aliceblue;
  max-width: 26rem;
}
.logged:hover {
  background-color: rgba(68, 187, 239, 0.8);
}
.logged:active {
  background-color: rgb(100, 205, 249);
}
@media (max-width: 450px) {
  .logged {
    margin: 0.32rem 0 0 0;
    border-radius: 0.4rem;
    width: 96%;
  }
}
@media (min-width: 451px) {
  .logged {
    margin: 0 0.4rem 0.4rem 0;
  }
}
.logged-eq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  padding: 0.8rem 0;
}
@media (max-width: 450px) {
  .logged-eq {
    padding: 0.3rem 0;
    margin: 0;
  }
}
@media (min-width: 451px) {
  .logged-eq {
    width: 97%;
    padding: 0.4rem 0;
  }
}
.logged__frame {
  margin-right: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450px) {
  .logged__frame {
    padding: 0.5rem;
    margin-right: 0.2rem;
  }
}
@media (min-width: 451px) {
  .logged__frame {
    margin-right: 0.4rem;
  }
}
.logged__frame-emoji {
  width: 6.5vw;
  max-width: 2.5rem;
}
@media (max-width: 450px) {
  .logged__frame-emoji {
    width: 2.2rem;
  }
}
.logged-info {
  width: 90%;
  padding-right: 0.1rem;
}
.logged-info__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.logged-info__top-left {
  text-align: start;
}
.logged-info__top-left-emotion, .logged-info__bottom-state, .logged-info__top-right-date {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
}
@media (max-width: 450px) {
  .logged-info__top-left-emotion, .logged-info__bottom-state, .logged-info__top-right-date {
    font-size: 1rem;
  }
}
@media (min-width: 451px) {
  .logged-info__top-left-emotion, .logged-info__bottom-state, .logged-info__top-right-date {
    font-size: 0.94rem;
  }
}
.logged-info__top-left-title, .logged-info__bottom-lower {
  margin: 0.2rem 0 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 200;
  line-height: 1;
  text-wrap: nowrap;
  width: 100%;
  text-align: start;
}
@media (max-width: 450px) {
  .logged-info__top-left-title, .logged-info__bottom-lower {
    letter-spacing: 0.04rem;
    font-size: 0.9rem;
  }
}
.logged-info__top-right {
  text-align: end;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 450px) {
  .logged-info__top-right-date {
    font-size: 0.92rem;
    font-weight: 400;
  }
}
@media (min-width: 451px) {
  .logged-info__top-right-date {
    font-size: 0.9rem;
  }
}
.logged-info--bold {
  color: rgb(252, 204, 152);
  text-shadow: 1.3px 2px rgb(99, 55, 80);
}
@media (min-width: 768px) {
  .logged-info__bottom {
    margin: 0 0 0.5rem;
  }
}
.logged-info__bottom-eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0 0;
  width: 100%;
}
@media (min-width: 768px) {
  .logged-info__bottom-eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.logged-info__bottom-state {
  background-color: antiquewhite;
  border-radius: 1.5rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0 0.5rem;
  color: #863983;
}
@media (min-width: 768px) {
  .logged-info__bottom-state {
    margin: 0;
  }
}
@media (max-width: 450px) {
  .logged-info__bottom-state {
    font-size: 1rem;
    align-self: flex-end;
    padding: 0.22rem 0.6rem;
    margin: 0 0 0.3rem;
  }
}
@media (min-width: 451px) {
  .logged-info__bottom-state {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .logged-info__bottom-state {
    font-size: 0.9rem;
    padding: 0.2rem 0.3rem;
  }
}
.logged-info__bottom-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .logged-info__bottom-lower {
    align-self: center;
  }
}
.logged-info__bottom-lower-item {
  padding: 0 0.5rem;
}
@media (max-width: 450px) {
  .logged-info__bottom-lower {
    font-size: 0.8rem;
    margin-top: 0;
  }
}
@media (min-width: 451px) {
  .logged-info__bottom-lower {
    font-size: 0.88rem;
  }
}/*# sourceMappingURL=Logged.css.map */