/* Colours */
/* Sizes */
/* Positions */
.user-nav {
  width: 16rem;
  position: absolute;
  top: 0;
  right: 0rem;
  bottom: 0;
  background-color: rgb(117, 203, 117);
  border-radius: 1rem;
  height: 60rem;
  z-index: 2;
}
@media (min-width: 451px) {
  .user-nav {
    width: 34rem;
  }
}
.user-nav__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-nav__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.user-nav__top-head {
  color: rgb(222, 235, 247);
  margin: 1.5rem 0 0;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
}
@media (min-width: 451px) {
  .user-nav__top-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0 0.5rem;
  }
}
@media (min-width: 1280px) {
  .user-nav__top-head {
    margin: 1.5rem 0;
    font-size: 2rem;
  }
}
.user-nav__top-head-name {
  color: rgb(222, 235, 247);
  margin: 0 0 1rem;
  font-style: italic;
}
@media (min-width: 451px) {
  .user-nav__top-head-name {
    margin: 0 0 0 0.5rem;
  }
}
.user-nav__top-list {
  padding: 0;
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-nav__top-list-item {
  border-top: 0.1rem solid rgb(231, 243, 213);
  border-bottom: 0.1rem solid rgb(231, 243, 213);
  margin: 0.4rem 0;
  font-weight: bold;
  color: rgb(132, 89, 173);
  font-size: 0.92rem;
  line-height: 1.125rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  width: 100%;
}
@media (min-width: 451px) {
  .user-nav__top-list-item {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .user-nav__top-list-item {
    font-size: 1.2rem;
    height: 2.4rem;
    padding: 0.5rem 0;
    font-weight: 600;
  }
}
.user-nav__top-list-item:hover {
  background-color: rgb(94, 122, 175);
  color: aquamarine;
}
.user-nav__top-list-item-add {
  margin-top: 1rem;
  align-self: center;
}
.user-nav__top-list-item-add--link {
  width: 100%;
}
.user-nav__bottom {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.user-nav__bottom-item-faq, .user-nav__top-list-item-add {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: rgb(94, 122, 175);
  width: 90%;
  border-radius: 1.5rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.1rem inset #80aaf7;
  letter-spacing: 0.08rem;
  margin-top: 0.5rem;
}
.user-nav__bottom-item-faq:hover, .user-nav__top-list-item-add:hover, .user-nav__bottom-item-faq:focus, .user-nav__top-list-item-add:focus {
  outline: 0.26rem dotted aquamarine;
  text-shadow: -0.2px -0.5px 1.7px #c5eef4;
}
.user-nav__bottom-item-faq:active, .user-nav__top-list-item-add:active {
  background-color: rgb(95, 3, 201);
}
@media (min-width: 1280px) {
  .user-nav__bottom-item-faq, .user-nav__top-list-item-add {
    max-width: 59%;
    height: 2.5rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
  .user-nav__bottom-item-faq:hover, .user-nav__top-list-item-add:hover {
    outline: aqua solid 0.2rem;
  }
}
.user-nav__bottom-item-faq-link {
  width: 100%;
}
.user-nav__bottom-item-contact {
  background-color: rgb(238, 92, 168);
  border-radius: 3rem;
  color: #fff9e1;
  font-weight: 700;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-top: 1rem;
}
@media (max-width: 450px) {
  .user-nav__bottom-item-contact {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
.user-nav__bottom-item-contact:hover {
  outline: 0.6rem dotted rgb(151, 233, 255);
  background-color: rgb(225, 24, 128);
}
.user-nav__bottom-item-contact:active {
  outline: 0.5rem dashed rgb(151, 233, 255);
  background-color: rgb(251, 39, 170);
}
.user-nav__bottom-item-contact-name {
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.user-nav__bottom-item-logout-button {
  height: 2.1rem;
  width: 8rem;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  border: 0.1rem inset rgb(94, 122, 175);
  background-color: #80aaf7;
  color: rgb(222, 235, 247);
  justify-content: center;
  font-size: 0.92rem;
  line-height: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.18rem;
  margin-top: 3rem;
}
@media (min-width: 451px) {
  .user-nav__bottom-item-logout-button {
    margin: 2rem 0 1rem;
  }
}
@media (min-width: 1280px) {
  .user-nav__bottom-item-logout-button {
    background-color: rgb(95, 3, 201);
    height: 2.4rem;
    border-radius: 3rem;
  }
}
.user-nav__bottom-item-logout-button:hover {
  border: 0.3rem double rgb(94, 122, 175);
  background-color: rgb(95, 213, 213);
  outline: 0;
  color: rgb(17, 17, 98);
  font-weight: 700;
}
.user-nav__bottom-item-logout-button:active {
  background-color: rgb(94, 122, 175);
  border: 0;
  outline: 0.3rem double #65edff;
}/*# sourceMappingURL=NavRight.css.map */