/* Colours */
/* Sizes */
/* Positions */
.add-mood-more__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-mood-more__medapp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-mood-more__medapp-eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.add-mood-more__medapp-choice-eq {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-mood-more__medapp-choice-head {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
  margin: 1rem 0;
}
.add-mood-more__medapp-choice-tick, .add-mood-more__medapp-meds-tick {
  width: 1rem;
  margin-left: 1rem;
}
.add-mood-more__medapp-extend {
  width: 100%;
}
.add-mood-more__medapp-extend-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.add-mood-more__medapp-meds-eq {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.add-mood-more__medapp-meds-head, .add-mood-more__medapp-appts-head {
  color: rgb(222, 235, 247);
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
  font-weight: 300;
}
.add-mood-more__medapp-medextend {
  width: 100%;
}
.add-mood-more__medapp-medextend-eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.add-mood-more__medapp-medextend-medname {
  resize: none;
  font-family: avenir, Arial, Helvetica, sans-serif;
  width: 12rem;
  border-radius: 1rem;
}
.add-mood-more__medapp-medextend-medname::-moz-placeholder {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
.add-mood-more__medapp-medextend-medname::placeholder {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
.add-mood-more__medapp-medextend-queries {
  width: 100%;
  border: 1px solid blue;
}
.add-mood-more__medapp-medextend-queries-eq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid red;
}
.add-mood-more__medapp-medextend-queries-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-mood-more__medapp-medextend-queries-dosage {
  resize: none;
  font-family: avenir, Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  width: 3rem;
}
.add-mood-more__medapp-medextend-queries-dosage::-moz-placeholder {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
.add-mood-more__medapp-medextend-queries-dosage::placeholder {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
.add-mood-more__medapp-medextend-queries-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-mood-more__medapp-medextend-queries-take {
  height: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  border: 0.1rem dashed rgb(94, 122, 175);
  background-color: #80aaf7;
  color: rgb(231, 243, 213);
  justify-content: center;
  padding: 0.4rem 0.8rem;
}
.add-mood-more__medapp-medextend-queries-take:hover, .add-mood-more__medapp-medextend-queries-take:focus, .add-mood-more__medapp-medextend-queries-take:active {
  background-color: rgb(94, 122, 175);
  color: aquamarine;
}
.add-mood-more__medapp-medextend-queries-miss {
  height: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  border: 0.1rem dashed rgb(94, 122, 175);
  background-color: #80aaf7;
  color: rgb(231, 243, 213);
  justify-content: center;
  padding: 0.4rem 0.8rem;
}
.add-mood-more__medapp-medextend-queries-miss:hover, .add-mood-more__medapp-medextend-queries-miss:focus, .add-mood-more__medapp-medextend-queries-miss:active {
  background-color: rgb(94, 122, 175);
  color: aquamarine;
}
.add-mood-more__medapp-medextend-print {
  height: 2rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(171, 203, 229);
  background-color: rgb(222, 235, 247);
  color: rgb(0, 13, 55);
  justify-content: center;
  font-weight: 600;
  font-size: 0.85rem;
}
.add-mood-more__medapp-medextend-print:hover {
  background-color: #c5eef4;
  outline: 0.3rem dotted rgb(0, 13, 55);
  border: 0;
  color: rgb(12, 12, 96);
  font-weight: bold;
}
.add-mood-more__medapp-medextend-print:active {
  background-color: rgb(57, 133, 209);
  outline: 0;
  color: rgb(222, 235, 247);
}
.add-mood-more__medapp-appts-eq {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.add-mood-more__medapp-appts-head {
  margin: 1.5rem 0.4rem 1rem 0;
}/*# sourceMappingURL=ExtendedForm.css.map */