@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
    border-radius: 3rem;
    cursor: pointer;
    background-color: rgb(238, 92, 168);
    &:hover {
        outline: 0.54rem dotted rgb(151, 233, 255);
        background-color: rgb(225, 24, 128);
    }
    &:active {
        outline: 0.5rem dashed rgb(151, 233, 255);
    }
    @include smallscreen {
        width: fit-content;
        padding: .6rem 1rem;
    }
    @include mobile {
        font-size: .84rem;
        margin: 0;
        padding: 0.5rem 1rem;
    }
    &-eq {
        width: 100%;
        @include row;
        margin: 2rem 0 0;
        padding: 1.5rem 1rem 4.5rem;
        justify-content: space-between;
        border-top: .2rem dashed aqua;
        @include smallscreen {
            margin: 2rem 0 0;
            padding: 1.5rem 1rem 1.5rem;
        }
        @include desktop {
            max-width: 90%;
        }
    }
    &__socials {
        @include row;
        
        &-social {
            margin: 0 .6rem;
            
            &-icon {
                width: 2rem;

                @include mobile {
                    margin: 0;
                }
            }
        }
    }
}
