@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.selectedcount {
    &-head {
        margin: 0;
        font-weight: 400;
        font-size: 1rem;
        color: white;
    }
    &-list {
        padding: 0;
        margin: .2rem;
    }
    &-item {
        font-size: .8rem;
    }
}
.instruction {
    margin: 0;
    font-size: .9rem;
    color: aliceblue;
}
.userpage {
    @include column;
    &__head {
        @include row;
        // &-greet {

        // }
        &-name {
            font-size: 2.2rem;
            width: 20rem;
            padding-bottom:.4rem;
            border-bottom: .2rem dodgerblue solid;
            @include mobile {
                padding-bottom: .2rem
            }
        }
    }
    &__counters {
        @include column;
        margin: 0;

        &-eq {
            padding: 0;
            @include mobile {
                margin: 0;
                @include row;
            }
        }

        &-counter {
            align-self: flex-start;
            margin: 0 1rem 1rem 1rem;
            font-size: .88rem;
            font-weight: 600;
            color: purple;
            background-color: rgba(150, 239, 244, 0.747);
            padding: .2rem 1rem;
            border-radius: 1rem;
            width: max-content;
        }
        // &-streak {
        //     display: none;
        // }
    }
    &__totals {
        width: 100%;
        @include column;
        &-head {
            width: 90%;
            background-color: rgb(12, 54, 96);
            border-radius: .2rem;
            margin-bottom: 0;
            @include mobile {
                font-size: 1rem;
            }
        }
        &-emotions {
            padding: 0;
            width: 100%;
            @include row;
            flex-wrap: wrap;
            margin: .34rem 0;
            &-head {
                margin: 0;
                width: 100%;
                border-bottom: blue 1px solid;
                color: rgb(12, 54, 96);
                font-size: .9rem;
                letter-spacing: .06rem;
                margin-top: .6rem;
            }
            &-item {
                margin: 0 .2rem;
                font-size: .9rem;
                background-color: rgba(120, 10, 113, 0.926);
                border-radius: .4rem;
                padding: .1rem .4rem;
                text-wrap: nowrap;
                margin-bottom: .2rem;
            }
        }
    }
    &__triggers {
        @include column;

        &-head {
            width: 90%;
            background-color: rgb(12, 54, 96);
            border-radius: .2rem;
            margin-bottom: 0;
            @include mobile {
                font-size: 1rem;
            }
        }
        &-eq {
            @include row;
            justify-content: space-between;
            width: 97%;
        }

        &-options{
            width: 54%;
        }

        &-list {
            padding: 0;
            @include row;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                width: 48%;
                background-color: rgba(120, 10, 113, 0.926);
                margin-bottom: .34rem;
                border-radius: .4rem;
                &:active {
                    background-color: rgb(102, 226, 178);
                }
                &.selected {
                    background-color: rgb(48, 150, 111);
                }
            }
        }
        &-add {
            margin: 0;
            @include row;
            &-input {
                resize: none;
                height: 1.6rem;
                font-family: avenir;
                margin-right: .4rem;
            }
            // &-press {

            // }
        }
        &-user {
            border: .1rem double rgb(11, 107, 20);
            background-color: rgba(65, 230, 128, 0.307);
            width: 42%;
            height: 13rem;
            border-radius: .4rem;
            
            &-item {
                background-color: rgba(241, 5, 127, 0.72);
                margin: .2rem 0;
                &:hover {
                    background-color: rgba(241, 98, 172, 0.72);
                }
            }
        }
        
    }

    &__faq {
        background-color: hsla(189, 89%, 72%, 0.3);
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        width: 98%;
        @include column;
        margin-top: 4rem;
        border-top: .2rem dodgerblue solid;
        @include mobile {
            font-size: .84rem;
        }

        &-eq {
            width: 96%;
            @include column;
        }

        &-head {
            font-size: 2rem;
            padding: 0.5rem 0 0.5rem;
            letter-spacing: 0.15rem;
            border-bottom: 0.2rem $white solid;
            width: 26vw;
            color: $white;
            @include desktop {
                color: rgb(88, 8, 104);
                border-bottom: 0.6rem rgb(17, 81, 64) dotted;
                max-width: 10rem;
                margin: 2rem 0 3rem;
            }
            @include mobile {
                color: rgb(88, 8, 104);
                border-bottom: 0.2rem rgb(88, 8, 104) double;
                font-size: 1.8rem;
                padding-bottom: .2rem;
            }
        }
        &-questions {
            @include column;
        }
        &-query {
            @include column;
            width: 90%;
            padding: 0.6rem 0;
            @include desktop {
                padding: 1.4rem 0;
            }
            @include mobile {
                padding-bottom: .2rem;
            }

            &__head {
                align-self: flex-start;
                text-align: start;
                font-size: 1.2rem;
                margin: 0;
                padding: 0 0 0.5rem;
                color: rgb(180, 66, 193);
                text-shadow: 2px 2px rgb(231, 199, 212);
                @include desktop {
                    font-size: 1.75rem;
                    margin: 0.8rem 0 1.4rem;
                }
            }
            &__answer {
                margin: 0;
                width: 100%;
                color: rgb(23, 23, 65);
                padding: 0.4rem 0 1rem;
                text-align: end;
                @include desktop {
                    font-size: 1.08rem;
                    width: 86%;
                    align-self: flex-end;
                    font-weight: 400;
                    background-color: rgba(243, 224, 102, 0.572);
                    padding: 1rem;
                    border-radius: 2rem;
                }
                @include mobile {
                    padding-bottom: .2rem;
                    text-align: justify;
                }
                &-link {
                    margin: 0;
                    color: $white;
                    @include desktop {
                        color: rgb(10, 131, 63);
                    }
                }
            }
        }
    }
}
