@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.welcome {
    color: $white;
    @include row;
    justify-content: center;

    &-eq {
        @include column;
        width: 100%;
        margin: 5rem 0 0;
        padding: 1rem 0 1rem;
        justify-content: center;
        height: fit-screen;
        @include mobile {
            margin: 7rem 0 0;
        }
        @include desktop {
            margin-top: 10rem;
        }
    }
    &__head {
        padding: 1rem 0 1rem;
        @include smallscreen {
            padding: 3.8rem 0 1rem;
        }
        @include tablet {
            padding: 5rem 0 1rem;
        }

        &-welcome {
            font-size: 1.8rem;
            font-weight: 300;
            margin: 0;
            letter-spacing: .24rem;
            @include tablet {
                font-size: 2.5rem;
                font-weight: 300;
            }
        }
        // &-user {
        //     font-size: 2.2rem;
        //     font-weight: 500;
        //     letter-spacing: .1rem;
        //     margin: 0;
        // }
    }
    &__logo {
        padding: 1.5rem 0 2rem;
        font-size: 3rem;
        @include tablet {
            font-size: 5.5rem;
        }
        &-mood {
            &:hover, &:focus {
                color: rgb(255, 241, 216);
                @include shadow-left;
            }
        }
        &-memory {
            &:hover, &:focus {
                color: rgb(255, 241, 216);
                @include shadow-right;
            }
        }
        @include mobile {
            margin-top: 1rem;
        }
    }
    &__button {
        margin: 3rem 0 1rem;
        padding: .6rem 2rem;
        border-radius: 2rem;
        border: 0;
        background-color: rgb(120, 42, 193);
        color: aliceblue;
        font-size: 1rem;
        letter-spacing: .1rem;
        @include tablet {
            margin: 5rem 0 1rem;
            height: 3rem;
            font-size: 1.2rem;
        }
        @include mobile {
            margin-top: 2.4rem;
        }
        @include desktop {
            margin-top: 2.4rem;
        }
        &:hover {
            background-color: $periwinkle-lite;
            color: #000;
            outline: .3rem dotted $cyan;
            font-weight: 500;
            @include tablet {
                outline: .6rem dotted $cyan;
            }
        }
        &:active {
            outline: 0;
            color: rgb(19, 19, 98);
            background-color: rgb(89, 210, 210);
            font-weight: 600;
            border: 0;
        }
    }
}

.morphs {
    mix-blend-mode: color;
    animation: morphs 15s ease-in-out infinite alternate;
    -webkit-background-clip: text;

    display: block;
    position: absolute;
    z-index: -1;
    -webkit-background-clip: text;
    background-clip: text;

    &_2 {
        background: #46afb4;
        width: 80vw;
        height: 35vh;
        top: 14.5vh;
        left: 10vw;
        @include mobile {
            height: 55vh;
        }
        @include desktop {
            height: 66vh;
        }
    }

    &_1 {
        background: rgba(215, 198, 66, 0.8);
        width: 92vw;
        height: 60vh;
        left: 4%;
        top: 7vh;
        outline: dotted 1rem #95123b;
        @include smallscreen {
            outline: dotted 1.4rem #95123b;
        }
        @include tablet {
            outline: dotted 2rem #95123b;
        }
        @include mobile {
            top: 8vh;
            height: 71vh;
        }
        @include desktop {
            top: 5rem;
            height: 80vh;
            max-width: 92rem;
            left: 8vw;

        }
    }
}
@keyframes morphs {
    0% {
        border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    }
    10% {
        border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
    }
    20% {
        border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
    }
    30% {
        border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
    }
    40% {
        border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
    }
    50% {
        border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
    }
    60% {
        border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
    }
    70% {
        border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
    }
    80% {
        border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
    }
    90% {
        border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    }
    100% {
        border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
    }
}
