@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

@import url("https://fonts.googleapis.com/css?family=Titan+One");

body {
  font-family: avenir, Arial, Helvetica, sans-serif;
  // background-color: rgb(134, 190, 148);
  background-color: rgb(157, 213, 170);
  color: $white;
  text-align: center;

  & ul {
    list-style-type: none;
  }
  & li {
    list-style-type: none;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}
