@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

@import url("https://fonts.googleapis.com/css?family=Titan+One");

body {
  font-family: avenir, Arial, Helvetica, sans-serif;
  background-color: rgb(134, 190, 148);
  color: $white;

  text-align: center;

  & ul {
    list-style-type: none;
  }
  & li {
    list-style-type: none;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}

// Header. Navigation Bars.
.header {
  @include row;
  align-items: flex-start;
  justify-content: space-between;

  &__menu {
    @include user;
    padding: 0.2rem;
  }
}

.mood-nav {
  width: 8rem;
  position: absolute;
  top: 0;
  left: -0.8rem;
  bottom: 0;
  transition: left 0.5s ease;

  background-color: $mint-bright;
  border-radius: 1rem;

  &__eq {
    @include column;
  }

  &__head {
    @include mobile-head-page-bold;
    margin: 1rem 0 0.5rem;
    color: $blue-light;
    font-weight: 700;
    border-bottom: 0.099rem solid $blue-light;
    text-shadow: 0px 1px 2px $glow;
  }

  &__list {
    padding: 0;
    color: $white;
    padding-left: 0.5rem;

    &-item {
      padding: 0.5rem 0 0.5rem;
      @include mobile-subhead;
      border-radius: 1rem;
      background-color: $periwinkle-lite;
      @include padding-body;
      margin-bottom: 0.5rem;
      &:hover {
        color: $aqua;
      }

      &:focus {
        color: $aqua;
      }
    }
  }
}

#moodnav {
  z-index: 2;
  position: relative;
  top: 0;
  left: 7rem;
  cursor: pointer;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;

  padding-top: 0.7rem;
  padding-left: 1rem;

  &-slider {
    display: none;

    &:checked ~ .mood-nav {
      left: -8rem;
    }

    &:checked ~ .home-nav {
      left: 0;
    }

    &:checked ~ #moodnav {
      left: 0;
    }
  }
}

.home-nav {
  width: 100%;
  @include row;
  justify-content: space-between;

  position: relative;
  top: 0;
  left: 7rem;
  right: 0;
  bottom: 0;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;

  &__eq {
    @include row;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
  }

  &__logo {
    background-color: $periwinkle;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    @include mobile-head-page-bold;

    &-mood {
      color: $white;
      transition: 0.3s;
      @include shadow-left;

      &:hover {
        color: $aqua;
      }

      &:focus {
        color: $aqua;
      }
    }
    &-memory {
      color: $white;
      transition: 0.3s;
      @include shadow-right;
      font-weight: lighter;

      &:hover {
        color: $aqua;
      }

      &:focus {
        color: $aqua;
      }
    }
  }
}

.user {
  @include user;

  &-nav {
    width: 17rem;
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    transition: right 0.5s ease;

    background-color: $mint-bright;
    border-radius: 1rem;

    &__eq {
      @include column;
    }

    &__top {
      @include column;
      width: 90%;
      &-head {
        color: $blue-light;
      }
      &-list {
        padding: 0;
        margin: 0;
      }
    }

    &__bottom {
      padding: 0;
      @include column;
      width: 90%;

      &-item {
        @include mobile-head-section;
        margin-right: 1rem;

        &-faq {
          width: 100%;
          border-radius: 1rem;
          text-align: center;
          margin-bottom: 1rem;
          background-color: $periwinkle;
        }

        &-logout-button {
          @include button-label;
          @include mobile-subhead;
          letter-spacing: 0.18rem;
          margin-top: 3rem;
        }
      }
    }
  }
}

#usernav {
  z-index: 2;
  position: relative;
  top: 0;
  right: 16rem;
  cursor: pointer;
  -moz-transition: right 0.5s ease;
  transition: right 0.5s ease;

  padding-top: 0.5rem;
  padding-right: 1rem;

  &-slider {
    display: none;

    &:checked ~ .user-nav {
      right: -17rem;
    }

    &:checked ~ #usernav {
      right: 0;
    }
  }
}

.add-mood {
  // &-include {

  // }
  &-quick {

    &__head {
      width: 100%;
      position: relative;
      font-family: "Titan One", avenir;
      font-size: 1.65rem;
      font-weight: 700;
      z-index: -1;

      &-crop {
        width: 100%;
        color: transparent;
        background: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
        -webkit-background-clip: text;
        background-clip: text;
        display: block;
        content: "";
        mix-blend-mode: screen;
      }
    }
  }
}

.blobs {
  mix-blend-mode: color;
  animation: blobs 15s ease-in-out infinite alternate;
  -webkit-background-clip: text;

  display: block;
  position: absolute;
  z-index: -1;
  -webkit-background-clip: text;
  background-clip: text;

  &_1,&_8,&_18{
    background:#ff1493;
    width:60px;
    height:60px;
    top:90px;
    left:210px
    }
}

.blobs_2 {
  background: #ff4500;
  width: 80px;
  height: 80px;
  top: 155px;
  left: 230px;
}

.blobs_3 {
  background: #00ff00;
  width: 60px;
  height: 60px;
  top: 145px;
  left: 20px;
}

.blobs_4 {
  background: #ff0000;
  width: 100px;
  height: 100px;
  top: 115px;
  left: 100px;
}

.blobs_5 {
  background: #ffff00;
  width: 50px;
  height: 50px;
  top: 55px;
  left: 70px;
}

.blobs_6 {
  background: #00ffff;
  width: 60px;
  height: 60px;
  top: 220px;
  left: 55px;
}

.blobs_7 {
  background: #ff8c00;
  width: 50px;
  height: 50px;
  top: 210px;
  left: 180px;
}

@keyframes blobs {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}
