@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.maps {
    @include column;
    width: 100%;
    &__eq {
        @include column;
        width: 96%;

        @include mobile {
            width: 100%;
        }
    }
    &__top {
        @include row;
        margin: 0;
        width: 70%;
        @include mobile {
            width: 90%;
            margin: 1rem 0;
        }
    }
    &__head {
        letter-spacing: 0.12rem;
        border-bottom: 0.2rem solid rgb(135, 29, 135);
        width: fit-content;
        font-size: 1.4rem;
        color: rgb(235, 249, 242);
        align-self: flex-start;
        margin: 0.8rem 1rem 1.4rem;
        padding-bottom: 0rem;
        @include desktop {
            font-size: 2.2rem;
            border-bottom: 0.3rem solid rgb(135, 29, 135);
            width: 20rem;
            margin-bottom: 1rem;
            align-self: center;
        }
        @include mobile {
            border-bottom: 0;
            padding-bottom: 0;
            font-size: 1.24rem;
            letter-spacing: 0;
            margin: 0rem;
            color: rgb(135, 29, 135);
        }
        @include smallscreen {
            align-self: center;
        }
    }
    &__mood {
        margin: 0 0 4rem;
        width: 100%;
        @include column;
        background-color: rgba(34, 121, 121, 0.9);
        border-radius: 2rem;
        max-width: 42rem;

        @include mobile {
            border-radius: .4rem;
            margin: 0 0 1rem;
        }

        &-head {
            letter-spacing: 0.08rem;
            margin: 0.86rem 0 0.5rem;
            font-size: 1.15rem;
        }
    }
    &__sleep {
        @extend .maps__mood;
        &-head {
            @extend .maps__mood-head;
        }
    }
}

.blobs {
    &_map {
        &-1 {
            @include mobile {
                display: none;
            }
            @include desktop {
                outline: rgba(190, 0, 200, 0.9) dotted 1.8rem;
                top: 6rem;
                width: 40vw;
                left: 56vw;
                height: 35rem;
                background: rgb(30, 214, 255, 0.7);
            }
        }
        &-2 {
            @include mobile {
                display: none;
            }
            @include desktop {
                top: 42rem;
                outline: solid 6rem blue;
                left: 9vw;
                background: rgba(253, 145, 50, 0.7);
                width: 30vw;
                height: 34vh;
            }
        }
    }
}
