@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.maps {
    @include column;
    &__eq{
        @include column;
        width: 96%;
    }
    &__head {
        letter-spacing: .3rem;
        border-bottom: .4rem dotted rgb(135, 29, 135);
        width: fit-content;
        font-size: 1.4rem;
        color: rgb(255, 252, 201);
        align-self: center;
        margin: .6rem 0 .8rem;
        padding-bottom: .2rem;
    }
    &__mood {
        margin: 0 0 4rem;
        width: 100%;
        @include column;
        background-color: rgba(34, 121, 121, 0.9);
        border-radius: 2rem;
        max-width: 42rem;

        &-head {
            letter-spacing: .25rem;
            margin: .86rem 0 .5rem;
            font-size: 1.15rem;
        }
    }
    &__sleep {
        width: 100%;
        display: none;
        &-head {
            letter-spacing: .25rem;
        }
    }
}