@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.patterns {
    padding: 0;
    &__pattern {
        margin: 0;
        padding: 0;
        &-head {
            font-weight: 400;
            margin: 0 0 .6rem;
            // background-color: red;
        }
    }
}